.editexp_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 86px);
    background-color:lightslategray;
}

.editexp_content{
    top:0;
    width: 450px; 
    background-color: white;
    border-radius: 10px;
}

.editexp_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.editexp_text{
    font-weight: lighter;
    color: lightgrey;
}

.editexp_title{
    font-weight:bolder;
    color:black;
}

.editexp_form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    margin-bottom: 10px;
}

.editexp_input::placeholder{
    color: rgb(189, 185, 185);
     font-weight: 400;
}

.editexp_input:focus {
    outline-style: none;
  }


.editexp_form .editexp_input{
    width: 80%;
    height: 30px;
    border: none;
    border: 1px solid lightslategray;
}

@media screen and (max-width:1000px){
    .editexp_container{
        background: white;
    }
    .editexp_content{
       background-color: rgb(214, 215, 216);
    }
}